.About {
    height: 100%;
    width: 100%;
    width: 87%;
    margin: 0 auto;
    height: 80%;
    display: flex;

}

.About-Main {
    width: 80%;
    margin-left: 20px;
    border-radius: 7px;
    box-shadow: 0px 0px 5px grey;
    padding: 10px;
}

.About-Left {
    width: 20%;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 7px;
    box-shadow: 0px 0px 5px grey;
}

.About-LeftHeaderImage {
    height: 175px;
    width: 175px;
    margin: 10px auto;
}

.About-LeftHeaderImage > img {
    height: 175px;
    width: 175px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px grey;
}

.About-LeftHeaderName {
    margin-top: 5px;
    font-size: 20px;
}

.About-LeftHeaderTitle {
    margin-top: 5px;
}


.About-LeftBottomContact {
    margin-bottom: 5px;
    font-size: 13px;
    opacity: .7;
}


.About-LeftBottomInfo > div {
    margin-bottom: 5px;
    font-size: 14px;
}

.About-MainIAm, .About-MainILove {
    margin-bottom: 10px;
}

.AboutMainIAmHeader, .AboutMainILoveHeader, .AboutMainILikeHeader {
    font-size: 24px;
    font-weight: bold;
}
