
* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

body {
    /* background: #0B54FF; */
    background: black;
}

.Main {
    background: white;
    height: 85%;
    width: 85%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
}

.Grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 79%;
    grid-gap: 20px;
    width: 87%;
    margin: 0 auto;
    z-index: 1;
    grid-template-rows: repeat(2, 1fr);
}

.Navbar {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    width: 87%;
    margin: 0 auto;
}

.Navbar-icon > a {
    text-decoration: none;
    color: black;
    margin-right: 5px;
}

.Navbar-icon > a:hover {
    color: #0B54FF;
}

.Navbar-menu-list {
    list-style-type: none;
    display: flex;
}

.Navbar-menu-list > li {
    margin-left: 60px;
    font-size: 18px; 
    cursor: pointer;
    list-style: none;
}

li.slide-underline {
    padding-bottom:3px; /*the space for the gradient*/
    background: linear-gradient(#0B54FF,#0B54FF) center bottom; /*OR bottom right OR bottom left*/
    background-size: 0% 2px; /*width:0% height:2px*/
    background-repeat:no-repeat; /* Don't repeat !!*/
    transition: all 0.45s;  
}


.Project-Two {
    grid-column-start: 2;
    grid-column-end: 4;
}

.wrapper {
    font-size: 0;
    height: 220px;
    text-align: center;
    margin: auto;
}

.wrapper > a {
    opacity: 0;
}

.wrapper > a > svg {
    margin-top: 5px;

}

.wrapper:hover > a {
    opacity: 1;
    color: white;
}

.wrapper:hover > a:hover {
    color: #0B54FF;
}

.wrapper > h2 {
    padding-top: 70px;
}

.Project-Five > div > h2 {
    padding-top: 60px;
}


.Project-One {
    background: url('../images/Ecomm.png');
    background-size:cover;
}


.Project-Two > div > div > img {
    margin-top: 10px;
}

.Project-Two > div > div {
    color: white;
    font-size: 20px;    
}

.Project-Two > div > div > div {
    padding-top: 30px;    
}


.Project-Three {
    background: url('../images/colorPallete.png');
    background-size: cover;
}

.Project-Four {
    background: url('../images/IssueTracker2.png');
    background-size: cover;
}

.Project-Five {
    background: url('../images/ClareAccounting2.png');
    background-size: cover;
}



.Navbar-menu-list > li:hover {
    /* color: #0B54FF; */
    background-size: 100% 2px; /*width:100% height:2px*/
}

.Grid-container > .project {
    border-radius: 5px;
    box-shadow: 0px 0px 5px grey;
}

.Grid-container > .project:hover > div {
    background: black;
    opacity: .85;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: white;
    font-size: 20px;    
}

@media (max-width: 1420px) {
    .Grid-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .project {
        height: 300px;
    }

    .Project-Two {
        grid-column-start: 1;
        grid-column-end: 5;
        height: 220px;
    }

    .Project-One {
        grid-row-start: 2;
    }
    .Project-Three {
        grid-row-start: 2;
    }
    .Project-Four {
        grid-row-start: 2;
    }
    .Project-Five {
        grid-row-start: 2;
    }

    .Navbar {
        grid-column-start: 1;
        grid-column-end: 5;

    }

}
